/ElMeteoritos/Library/
/ElMeteoritos/Temp/
/ElMeteoritos/Obj/
/ElMeteoritos/Logs/
/ElMeteoritos/UserSettings/
/ElMeteoritos/.vs/
/ElMeteoritos/.vscode/
/ElMeteoritos/.vsconfig

/ElMeteoritos/Assembly-CSharp-Editor.csproj
/ElMeteoritos/Assembly-CSharp.csproj

# /ElMeteoritos/*.csproj
# /ElMeteoritos/*.sln
