/Elmeteoritos/Logs
/Elmeteoritos/.vs/
/Elmeteoritos/.vsconfig
/ElMeteoritos/Assembly-CSharp-Editor.csproj
/ElMeteoritos/Assembly-CSharp.csproj
/ElMeteoritos/ElMeteoritos.sln
/ElMeteoritos/Library/
/ElMeteoritos/UserSettings/
/ElMeteoritos/obj/
/ElMeteoritos/Temp/
